//
//  app-green-filesystem.xcconfig
//  CalculatorRecognition
//
//  Created by Louise on 5/10/22.
//  Copyright © 2022 Louise Nicolas Namoc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = AG FileSystem
APP_BUNDLE_ID = com.iremit.agfilesystem
APP_FLAVOUR = appgreenfilesystem

APP_THEME = green
